// Global colors
$color-darkblue: hsl(206, 69%, 10%) !default; // #081c2b

// Categories colors
$color-architecture: hsl(155, 28%, 64%) !default; // #8ABDA8
$color-patrimoines: hsl(24, 84%, 59%) !default; // #EE853E
$color-arts-plastiques: hsl(187, 74%, 48%) !default; // #1FBFD4
$color-spectacle-vivant: hsl(13, 97%, 55%) !default; // #FC4E1E
$color-cinema-audiovisuel: hsl(47, 99%, 59%) !default; // #FED02F
$color-livre: hsl(192, 10%, 53%) !default; // #7A8E93
$color-presse: hsl(39, 14%, 55%) !default; // #9C917C
$color-gestion-mediation: hsl(4, 13%, 55%) !default; // #9B7F7D
