// Global colors
$color-darkblue: hsl(206, 69%, 10%) !default;

// Categories colors
$color-architecture: hsl(155, 28%, 64%) !default;
$color-patrimoines: hsl(24, 84%, 59%) !default;
$color-arts-plastiques: hsl(187, 74%, 48%) !default;
$color-spectacle-vivant: hsl(13, 97%, 55%) !default;
$color-cinema-audiovisuel: hsl(47, 99%, 59%) !default;
$color-livre: hsl(192, 10%, 53%) !default;
$color-presse: hsl(39, 14%, 55%) !default;
$color-gestion-mediation: hsl(4, 13%, 55%) !default;
