.tabs {
  border: 1px lightgray solid;
}

.profil {
  border: 1px lightgray solid;
  height: 400px;
}

.tab-content {
  border: 1px lightgray solid;
  width: 100%;
  height: 100%;
  text-align: center;
}
