#main {
  margin: auto;
  max-width: 1080px;
  padding-top: 88px; // $navbar-height
}

.hero {
  @include flex;
  @include flex-items-middle;
  position: absolute;
  left: 0;
  right: 0;
  width: 100vw;
  height: calc(100vh - 88px);
  padding: 0px 176px;
  #intro {
    h1 {
      font-weight: bold;
    }
    h2 {
      font-family: "Thesaurus Display Regular", sans-serif;
      margin-bottom: 32px;
    }
    margin-bottom: 64px;
  }
}
