#filters-btn {
  position: fixed;
  top: 104px;
  left: 32px;
  background-color: #fff;
  margin-bottom: 0;
  padding-top: 2px;
  padding-bottom: 6px;
}

// Sidebar
.sidebar {
  padding-top: 160px;
  #filter-category {
    .category-counter {
      margin-left: 0.5em;
      font-weight: lighter;
    }
    .category {
      display: inline-block;
      font-family: $text-font-family, sans-serif;
      background-color: transparent;
      color: $color-midgray;
      padding: 0.25em 0.75em;
      border: 2px solid $color-midgray;
      margin: 0 4px 8px 0;
      font-size: 11px;
      letter-spacing: 0.025em;
      min-height: 24px;
      transition: color 0.1s ease, border 0.1s ease, background 0.1s ease, ;
      &:hover,
      &.mixitup-control-active {
        background-color: lighten($color-midgray, 50%) !important;
        border-color: lighten($color-midgray, 50%) !important;
      }
    }
    [data-filter=".architecture"] {
      border-color: $color-architecture !important;
      color: $color-architecture !important;
      &:hover,
      &.mixitup-control-active {
        background-color: lighten($color-architecture, 30%) !important;
        border-color: lighten($color-architecture, 30%) !important;
      }
    }
    [data-filter=".patrimoines"] {
      border-color: $color-patrimoines !important;
      color: $color-patrimoines !important;
      &:hover,
      &.mixitup-control-active {
        background-color: lighten($color-patrimoines, 35%) !important;
        border-color: lighten($color-patrimoines, 35%) !important;
      }
    }
    [data-filter=".arts-plastiques"] {
      border-color: $color-arts-plastiques !important;
      color: $color-arts-plastiques !important;
      &:hover,
      &.mixitup-control-active {
        background-color: lighten($color-arts-plastiques, 45%) !important;
        border-color: lighten($color-arts-plastiques, 45%) !important;
      }
    }
    [data-filter=".spectacle-vivant"] {
      border-color: $color-spectacle-vivant !important;
      color: $color-spectacle-vivant !important;
      &:hover,
      &.mixitup-control-active {
        background-color: lighten($color-spectacle-vivant, 40%) !important;
        border-color: lighten($color-spectacle-vivant, 40%) !important;
      }
    }
    [data-filter=".cinema-et-audiovisuel"] {
      border-color: darken($color-cinema-audiovisuel, 12%) !important;
      color: darken($color-cinema-audiovisuel, 12%) !important;
      &:hover,
      &.mixitup-control-active {
        background-color: lighten($color-cinema-audiovisuel, 30%) !important;
        border-color: lighten($color-cinema-audiovisuel, 30%) !important;
      }
    }
    [data-filter=".livre"] {
      border-color: $color-livre !important;
      color: $color-livre !important;
      &:hover,
      &.mixitup-control-active {
        background-color: lighten($color-livre, 40%) !important;
        border-color: lighten($color-livre, 40%) !important;
      }
    }
    [data-filter=".presse"] {
      border-color: $color-presse !important;
      color: $color-presse !important;
      &:hover,
      &.mixitup-control-active {
        background-color: lighten($color-presse, 40%) !important;
        border-color: lighten($color-presse, 40%) !important;
      }
    }
    [data-filter=".gestion-et-mediation"] {
      border-color: $color-gestion-mediation !important;
      color: $color-gestion-mediation !important;
      &:hover,
      &.mixitup-control-active {
        background-color: lighten($color-gestion-mediation, 40%) !important;
        border-color: lighten($color-gestion-mediation, 40%) !important;
      }
    }
  }
  .form-item {
    margin-bottom: 1em;
  }
}

.table {
  background-color: #fff;
  td {
    vertical-align: middle;
    font-family: $headings-font-family;
    font-feature-settings: 'tnum';
    -webkit-font-feature-settings: 'tnum';
    -moz-font-feature-settings: 'tnum';
  }
  .thesis-thumbnail {
    min-width: 48px;
    width: 5%;
  }
  .thesis-title {
    width: 30%;
    line-height: 1.333;
  }
  .thesis-author {
    width: 15%;
  }
  .thesis-school {
    width: 15%;
  }
  .thesis-year {
    width: 5%;
  }
  .thesis-bookmarks {
    width: 5%;
  }
}

#cards {
  @include flex;
  @include flex-items-bottom;
  overflow-x: scroll;
  height: calc(100vh - 256px);
  margin: 0 -32px;
  padding-bottom: 8px;
  .card {
    @include flex-items-wrap;
    @include flex-item-shrink(0);
    margin-left: 32px;
    .card-cover img {
      display: block;
    }
  }
}
#card-preview {
  display: block;
  position: absolute;
  left: 32px;
  right: 32px;
  bottom: 0;
  z-index: -1;
  td {
    border-bottom: none;
  }
}

// Views options
.tabs {
  position: fixed;
  top: 104px;
  right: 24px;
  margin-bottom: 0;
  font-size: 24px;

  & li em,
  & li.active a {
    border: none;
  }
  & em,
  & a {
    top: 0;
    border: none;
  }
  & a:hover {
    text-decoration: none;
    background-color: transparent;
  }
}

@include breakpoint($min: $sm) {
  .tabs {
    & ul {
      margin-top: 0px;
      border-bottom: none;
    }
    & li em,
    & li.active a {
      border-bottom: none;
    }
  }
}
