#filters-btn {
  position: fixed;
  top: 104px;
  left: 32px;
  background-color: #fff;
  margin-bottom: 0;
  padding-top: 2px;
  padding-bottom: 6px;
}


// Sidebar
.sidebar {
  padding-top: 160px;
  #filter-category {
    .category-counter {
      margin-left: 0.5em;
      font-weight: lighter;
    }
    .category {
      display: inline-block;
      font-family: $text-font-family, sans-serif;
      background-color: transparent;
      color: $color-midgray;
      padding: 0.25em 0.75em;
      border: 2px solid $color-midgray;
      margin: 0 4px 8px 0;
      font-size: 11px;
      letter-spacing: 0.025em;
      min-height: 24px;
      transition: color 0.1s ease, border 0.1s ease, background 0.1s ease, ;
      &:hover,
      &.mixitup-control-active {
        background-color: lighten($color-midgray, 50%) !important;
        border-color: lighten($color-midgray, 50%) !important;
      }
    }
    [data-filter=".architecture"] {
      border-color: $color-architecture !important;
      color: $color-architecture !important;
      &:hover,
      &.mixitup-control-active {
        background-color: lighten($color-architecture, 30%) !important;
        border-color: lighten($color-architecture, 30%) !important;
      }
    }
    [data-filter=".patrimoines"] {
      border-color: $color-patrimoines !important;
      color: $color-patrimoines !important;
      &:hover,
      &.mixitup-control-active {
        background-color: lighten($color-patrimoines, 35%) !important;
        border-color: lighten($color-patrimoines, 35%) !important;
      }
    }
    [data-filter=".arts-plastiques"] {
      border-color: $color-arts-plastiques !important;
      color: $color-arts-plastiques !important;
      &:hover,
      &.mixitup-control-active {
        background-color: lighten($color-arts-plastiques, 45%) !important;
        border-color: lighten($color-arts-plastiques, 45%) !important;
      }
    }
    [data-filter=".spectacle-vivant"] {
      border-color: $color-spectacle-vivant !important;
      color: $color-spectacle-vivant !important;
      &:hover,
      &.mixitup-control-active {
        background-color: lighten($color-spectacle-vivant, 40%) !important;
        border-color: lighten($color-spectacle-vivant, 40%) !important;
      }
    }
    [data-filter=".cinema-et-audiovisuel"] {
      border-color: darken($color-cinema-audiovisuel, 12%) !important;
      color: darken($color-cinema-audiovisuel, 12%) !important;
      &:hover,
      &.mixitup-control-active {
        background-color: lighten($color-cinema-audiovisuel, 30%) !important;
        border-color: lighten($color-cinema-audiovisuel, 30%) !important;
      }
    }
    [data-filter=".livre"] {
      border-color: $color-livre !important;
      color: $color-livre !important;
      &:hover,
      &.mixitup-control-active {
        background-color: lighten($color-livre, 40%) !important;
        border-color: lighten($color-livre, 40%) !important;
      }
    }
    [data-filter=".presse"] {
      border-color: $color-presse !important;
      color: $color-presse !important;
      &:hover,
      &.mixitup-control-active {
        background-color: lighten($color-presse, 40%) !important;
        border-color: lighten($color-presse, 40%) !important;
      }
    }
    [data-filter=".gestion-et-mediation"] {
      border-color: $color-gestion-mediation !important;
      color: $color-gestion-mediation !important;
      &:hover,
      &.mixitup-control-active {
        background-color: lighten($color-gestion-mediation, 40%) !important;
        border-color: lighten($color-gestion-mediation, 40%) !important;
      }
    }
  }
  .form-item {
    margin-bottom: 1em;
  }
}


// List
.table {
  width: 100vw !important;
  margin-left: -32px !important;
  margin-bottom: 0px;
  background-color: #fff;
  border-bottom: none !important;
  thead {
    .sorting,
    .sorting_asc,
    .sorting_desc {
      background-repeat: no-repeat !important;
      background-position: center right 0.5rem !important;
      text-transform: uppercase !important;
      color: transparentize($color-text, 0.5) !important;
    }
    .sorting {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="12.7" viewBox="0 0 9 12.7"><path opacity=".25" fill="#081C2B" d="M4.5 11.3L.7 7.6l-.7.7 4.5 4.5L9 8.3l-.7-.7M4.5 1.5l3.8 3.7.7-.7L4.5 0 0 4.5l.7.7"/></svg>') !important;
    }
    .sorting_asc {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="12.746" viewBox="0 0 9 12.746"><path opacity=".5" fill="#081C2B" d="M4.5 1.452l3.778 3.744.732-.723L4.5 0-.01 4.473l.733.723"/></svg>') !important;
    }
    .sorting_desc {
      background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="9" height="12.746" viewBox="0 0 9 12.746"><path opacity=".5" fill="#081C2B" d="M4.5 11.294L.722 7.55l-.732.723 4.51 4.473 4.51-4.473-.733-.723"/></svg>') !important;
    }
  }
  thead tr > th {
    border-bottom-color: rgba(0, 0, 0, 0.05) !important;
    padding: 12px 10px !important;
    line-height: 1;
  }
  tbody tr {
    transition: background-color 0.2s ease;
    &:hover {
      background-color: $color-aluminum;
    }
  }
  #thumbnail-th {
    background-image: none !important;
  }
  #bookmark-th {
    padding-bottom: 8px !important;
    background-position: center right 1rem !important;
  }
  td {
    vertical-align: middle;
    font-family: $headings-font-family;
    font-feature-settings: 'tnum';
    -webkit-font-feature-settings: 'tnum';
    -moz-font-feature-settings: 'tnum';
  }
  .thesis-thumbnail {
    min-width: 64px;
    width: 5%;
    .thumbnail {
      margin-left: 32px;
      height: 64px;
      img {
        width: auto;
        height: 64px;
        border: 1px solid rgba(0,0,0,.1);
      }
    }
  }
  .thesis-title {
    width: 35%;
    line-height: 1.333;
  }
  .thesis-author {
    width: 16%;
  }
  .thesis-school {
    width: 10%;
  }
  .thesis-year {
    width: 5%;
  }
  .thesis-bookmarks {
    width: 4%;
    padding-left: 16px;
  }
}


// Cards
#cards {
  @include flex;
  @include flex-items-bottom;
  overflow-x: scroll;
  height: calc(100vh - 256px);
  margin: 0 -32px;
  padding-bottom: 8px;
  .card {
    @include flex-items-wrap;
    @include flex-item-shrink(0);
    margin-left: 32px;
    width: 36vh;
    .card-cover {
      img {
        display: block;
        background-color: #f5f5f5;
        min-width: 220px;
        min-height: 350px;
        width: 100%;
      }
    }
  }
}
#card-preview {
  display: block;
  position: absolute;
  left: 32px;
  right: 32px;
  bottom: 0;
  z-index: -1;
  td {
    border-bottom: none;
  }
}


// Views options
.tabs {
  position: fixed;
  top: 104px;
  right: 24px;
  margin-bottom: 0;
  font-size: 24px;

  & li em,
  & li.active a {
    border: none;
  }
  & em,
  & a {
    top: 0;
    border: none;
  }
  & a:hover {
    text-decoration: none;
    background-color: transparent;
  }
}

@include breakpoint($min: $sm) {
  .tabs {
    & ul {
      margin-top: 0px;
      border-bottom: none;
    }
    & li em,
    & li.active a {
      border-bottom: none;
    }
  }
}



