#thesis-cover-wrapper {
  @include flex;
  @include flex-items-middle;
  position: relative;
  width: 100vw;
  height: 480px;
  padding: 32px 64px;
  background-color: $color-aluminum;
  .thesis-cover {
    margin: auto;
    max-width: 100%;
    max-height: calc(480px - 64px);
  }
  #thesis-previous,
  #thesis-next {
    position: absolute;
    color: #7F7F7F;
    opacity: 0.5;
    transition: opacity 0.2s ease;
    &:hover {
      opacity: 1;
    }
  }
  #thesis-previous {
    left: 8px;
  }
  #thesis-next {
    right: 8px;
  }
}
#thesis-content-wrapper {
  font-family: $headings-font-family, sans-serif;
  width: 100vw;
  padding: 48px 32px;
  #bookmark-wrapper {
    position: absolute;
    width: 32px;
    right: 32px;
    #bookmark {
      display: block;
      width: 32px;
      margin: 12px 0;
      text-align: right;
    }
    #bookmark-counter {
      margin: -26px;
      font-size: 24px;
      text-align: center;
    }
  }
  #thesis-content {
    hr {
      margin: 24px 0;
    }
    .title {
      font-family: "Thesaurus Display Medium", sans-serif;
      margin-bottom: 16px;
      font-size: 60px;
    }
    .subtitle {
      font-family: "Thesaurus Regular", sans-serif;
      font-size: 24px;
    }
    .author {
      font-family: "Thesaurus Medium", sans-serif;
      margin-bottom: 0;
    }
    #meta {
      font-size: 21px;
    }
    #edit {
      position: absolute;
      right: 32px;
      top: 160px;
    }
    .school,
    .year {
      float: right;
    }
    .year {
      margin-left: 24px;
    }
    .category,
    .subcategory {
      display: inline-block;
      font-family: $text-font-family, sans-serif;
      background-color: $color-success;
      color: #fff;
      padding: 0.5em 1.25em;
      border-radius: 21px;
      margin: 0 4px 8px 0;
      font-size: 14px;
      letter-spacing: 0.025em;
    }
    .subcategory {
      font-size: 12px;
    }
    .resume {
      margin-bottom: 32px;
    }
    .tags > a {
      font-family: $text-font-family, sans-serif;
      font-size: 14px;
      display: inline-block;
      margin: 0 0.25em 0.5em 0;
      padding: 0.125em 0.5em;
      background-color: rgba(0,0,0,.05);
      border-radius: 2px;
      @include transition;
      &:hover {
        background-color: rgba(0,0,0,.1);
      }
    }
  }
}

@media (min-width: 960px) {
  .container.full {
    @include flex;
  }
  #thesis-cover-wrapper {
    position: fixed;
    width: 38.2vw;
    padding: 48px 64px;
    height: calc(100vh - 80px);
    .thesis-cover {
      max-height: calc(100vh - 176px);
    }
  }
  #thesis-content-wrapper {
    margin-left: 38.2vw;
    width: 61.8vw;
    #bookmark-wrapper {
      right: inherit;
      #bookmark {
        margin: 18px auto;
      }
    }
    #thesis-content {
      padding-left: 64px;
    }
  }
}
