#thesis-cover-wrapper {
  #drop-pdf-icon {
    margin: auto;
    height: 30%;
    opacity: 0.05;
  }
}

.form {
  .thesis_title {
    margin-bottom: 0px;
  }
  #thesis_title,
  #thesis_subtitle {
    padding: 0;
    border: none;
  }
  #thesis_title {
    height: 80px;
    margin-top: -8px;
    margin-bottom: 0 !important;
  }
  #thesis_year_1i {
    width: 100%;
  }
  .thesis_subcategories {
    margin-bottom: 8px;
    .checkbox > label {
      display: inline-block;
      font-family: $text-font-family, sans-serif;
      border: 2px solid $color-success;
      color: $color-success;
      padding: 0.5em 1.25em;
      border-radius: 21px;
      margin: 0 4px 8px 0;
      font-size: 12px;
      letter-spacing: 0.025em;
      cursor: pointer;
      > input[type=checkbox] {
        display: none;
      }
    }
  }
}

.checked {
  background-color: $color-success;
  color: #fff !important;
}

#thesis_document {
  display: none;
}

// Dropzone
.thesis_document label {
  position: fixed;
  left: 0;
  top: 80px;
  width: calc(38.2vw - 128px);
  height: calc(100vh - 80px - 128px);
  margin: 64px;
  border: 2px dashed rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  text-align: center;
  padding: 64px 32px;
  color: transparentize($color-text, 0.5);
  font-family: $text-font-family !important;
}
.dz-preview {
  position: fixed;
  left: 112px;
  top: 256px;
  color: transparentize($color-text, 0.5);
  font-family: $text-font-family !important;
  .dz-filename {
    font-size: 13px;
  }
}
.dz-default {
  display: none;
}

.hidden {
  width: 50%;
  z-index: 2;
  position: absolute;
  float: right;
  height: 350px;
  right: 9999px;
  background-color: white;
  color: black;
}
