<table class="table">
  <tbody>
    <tr>
      <td class="thesis-thumbnail">
        <%= link_to "#" do %>
          <%#= image_tag "http://placehold.it/32x48" %>
          <div class="thumbnail" style="background-color: #ddd; height: 48px; width: 32px"></div>
        <% end %>
      </td>
      <td class="thesis-title">
        <%= link_to "#" do %>
          <h5>Titre</h5>
          <small>Sous-titre</small>
        <% end %>
      </td>
      <td class="thesis-author">Prénom Nom</td>
      <td class="thesis-school">École</td>
      <td class="thesis-year">Year</td>
      <td class="thesis-bookmarks">0</td>
    </tr>
  </tbody>
</table>
