<% if notice %>
  <div class="message" data-component="message">
    <%= notice %>
    <span class="close small"></span>
  </div>
<% end %>

<% if alert %>
  <div class="message warning" data-component="message" role="alert">
    <h5>Warning</h5>
    <%= alert %>
    <span class="close small"></span>
  </div>
<% end %>
