<aside id="offcanvas-left" class="hide">
  <p>Filtres</p>
  <ul>
    <li>Catégories</li>
    <li>Sous-catégories</li>
    <li>Période</li>
    <li>Écoles</li>
    <li>Diplômes</li>
    <li>Licenses</li>
  </ul>
</aside>
