<%= link_to "<i class='material-icons md-18'>filter_list</i> Filtres".html_safe, "#", class: "button outline secondary", id: "filters", "data-component" => "offcanvas", "data-target" => "#offcanvas-left" %>

<aside id="offcanvas-left" class="hide">
  <p>Filtres</p>
  <ul>
    <li>Catégories</li>
    <li>Sous-catégories</li>
    <li>Période</li>
    <li>Écoles</li>
    <li>Diplômes</li>
    <li>Licenses</li>
  </ul>
</aside>
