<main class="container full", id="main">

  <div class="hero">
    <div id="intro">
      <h1>mnémosyne</h1>
      <h3>Plateforme de partage de mémoires <br> d’étudiants en école supérieure Culture</h3>

      <%= link_to "Explorer", theses_path, class: "button outline secondary large" %>
    </div>
  </div>

</main>
