<main class="container full", id="main">

  <div class="hero">
    <div id="intro">
      <h1>mnémosyne</h1>
      <h2><%= t('.tagline_1') %><br><%= t('.tagline_2') %></h2>

      <%= link_to t('.button_theses_index'), theses_path, class: "button outline secondary large" %>
    </div>
  </div>

</main>
