<main class="container", id="main">

  <header>
    <h1>mnémosyne</h1>
    <h2 style="margin-bottom: 0px"><%= t('.introduction_line1') %></h2><h2><%= t('.introduction_line2') %></h2>
    <br>
  </header>

  <%= link_to t('.button_theses_index'), theses_path, class: "button outline secondary" %>

</main>
