.navbar {
  @include flex;
  @include flex-items-middle;
  padding: 0 36px;
  height: 88px;
  width: 100vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  > * {
    @include flex;
    @include flex-items-middle;
  }
  &-left {
    @include flex-items-left;
    .navbar-brand {
      margin-bottom: 0;
      a:hover {
        color: rgba(0,0,0,0.8);
      }
    }
  }
  &-middle {
    @include flex-item-grow(1);
    margin-left: 24px;
  }
  &-right {
    @include flex-items-right;
    flex-direction: row-reverse;
    .button {
      max-height: 2.5rem;
    }
  }
  &-item {
    @include flex;
    @include flex-items-middle;
    @include flex-items-right;
    margin: 0 0 0 24px;
    .form {
      margin-bottom: 0px;
      .search {
        width: 320px;
      }
    }
  }
  &-link {
    color: $color-link;
  }
  #navbar-dropdown {
    @include flex;
    @include flex-items-middle;
    #user-avatar {
      @include flex;
      @include flex-items-middle;
    }
  }
}
