$navbar-height: 80px;

.navbar {
  @include flex;
  @include flex-items-middle;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 0 36px;
  height: $navbar-height;
  width: 100vw;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  background-color: #fff;
  > * {
    @include flex;
    @include flex-items-middle;
  }
  &-left {
    @include flex-items-left;
    .navbar-brand {
      margin-bottom: 0;
      a:hover {
        color: rgba(0,0,0,0.8);
      }
    }
  }
  &-middle {
    @include flex-item-grow(1);
    margin-left: 40px;
    #search-wrapper {
      width: 100%;
      margin-left: 0;
      #search-form {
        width: 100%;
        margin-bottom: 0px;
      }
    }
  }
  &-right {
    @include flex-items-right;
    flex-direction: row-reverse;
    .button {
      max-height: 2.5rem;
    }
  }
  &-item {
    @include flex;
    @include flex-items-middle;
    @include flex-items-right;
    margin: 0 0 0 24px;
  }
  &-link {
    color: $color-link;
  }
  #navbar-dropdown {
    @include flex;
    @include flex-items-middle;
    #user-avatar {
      @include flex;
      @include flex-items-middle;
      width: 48px;
    }
  }
}


@media (min-width: 768px) {
  .navbar {
    &-middle {
      #search-wrapper {
        width: inherit;
        #search-form {
          width: inherit;
        }
      }
    }
  }
}
