#map {
  position: fixed;
  left: 0px;
  top: 80px;
  width: 100vw;
  height: calc(100vh - 80px);
  z-index: 0;
}

.leaflet-popup {
  //position: relative;
}
.leaflet-popup-content-wrapper {
  height: 400px;
  width: 400px;
}

.leaflet-control-zoom {
  position: fixed;
  bottom: 40px;
  left: 2px;
}

.school-info-wrapper {
  position: fixed;
  top: 80px;
  right: 0px;
  bottom: 0px;
  height: calc(100vh - 80px);
  .school-info {
    padding: 80px 32px 32px;
    background:#fff;
    width: 400px;
    height: 100%;
    hr {
      margin: 24px 0;
    }
    i {
      position: relative;
      top: 3px;
      margin-right: 1em;
      opacity: 0.5;
    }
    .school-address-2,
    .school-zipcode {
      margin-left: 2.75em;
    }
  }
  #school-close {
    position: absolute;
    top: 36px;
    cursor: pointer;
  }
}

.mapboxgl-popup {
  max-width: 400px;
  font: 12px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif;
}

hr {
  width: 100%;
}
